/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/out
/.repl
*.log
/.env
.clj-kondo
.lsp
.shadow-cljs
node_modules
.calva
.idea
.cpcache
docs/cljs-runtime
docs/images/.DS_Store
docs/.DS_Store
public/.DS_Store
src/main/.DS_Store
src/.DS_Store
.DS_Store
